@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
* {
    box-sizing: border-box;
    
     
}

body {
    background-color:#03438A;
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
}
h1 {
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
}
header h1,header a,footer,footer a {
    color:white;
    text-decoration: none;
}

.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em;
}

.main{ 
    
    
        
    background-image:linear-gradient(#F3D385,#F7E7B4);
}

section p, section h3{
    margin:0;
    padding:7px 0px;
}
header{
    height: 20vh; 
}
header p{
    color:yellow;
}
header h1,header a{
    position: relative;
    top:60px;    
}
header nav,header p{
    text-align: right;  
    
    
}
header nav{
    word-spacing: 20px;;
}

.efri{
    height: 80vh;
    padding-top:20px;
}

.neðri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.innermenu{            
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding:5px;
    background-color:#0063CC;
    
}
.efri a{
    color:white;
    text-decoration: none;

}

.topbutt{
    color:white;
    position: fixed;
    right:20px;
    bottom:30px;
    padding:0px 20px;
    background-color: blue;
    border-radius:50%;
    border:2px solid white;
    font-size: 50px;
    text-decoration: none;
}
.neðri a{
    color:orange;
}

.neðri a:hover{
    text-decoration: none;
    background:lightblue;
    padding:5px;
    border-radius: 60%;
}
.neðri a:visited{
    color:gray;
}

.neðri a:active{
    background-color: yellow;
}

.a a:active{
    background-color: yellow;
}
.s a:active{
    background-color: yellow;
}
.d a:active{
    background-color: yellow;
}
.f a:active{
    background-color: yellow;
}
.g a:active{
    background-color: yellow;
}
