@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Yeseva+One&display=swap');
*{
  box-sizing: border-box;
}
body,html {
  margin: 0% 5%;
  height: 90%;
}

body {
  background-color:#FFE6AA;
  margin: 0;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 25% 10% auto auto 10%;
  grid-template-areas:
    "  header header "
    "  nav nav "
    "  main article"
    "  aside article"
    "footer footer";
}


header {
  background-image: linear-gradient(#ffb600,#ffdb00);
  margin:0;
  padding:0;
  grid-area: header;
  
  
  
}
header ul{
  margin:0;
  padding:0;
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  height:100%;

}


#stórt {
  margin:0;
  padding:0;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  color: #796944;
  justify-content: flex-end;
}

nav {
  background-image: linear-gradient(#7d6d45,#a68e54,#7d6d45);
  grid-area: nav;
  
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

aside {
  background-color: #FFEECC;
  grid-area: aside;
  
}
article {
  background-color: #e8d4a2;
  grid-area: article;
  
}

main {
  background-color: #FFEECC;
  grid-area: main;
  

}

footer {
  background-image: linear-gradient(#7d6d45,#a68e54,#7d6d45);
  grid-area: footer;
  
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
h4{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
p, h4 {
  
  margin: 20px 30px;
}

nav ul, footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  list-style-type: none;
}

/* ul li{
 
} */
header li a {
  
  
  color: #796944;
  font-size: 120%;
}
li a {
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  color:white;
  font-size: 120%;
}

.pborder{
  border:1px solid black;
  padding:20px;
  margin:30px;
}

