@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
*{
  box-sizing: border-box;
}
body,html {
  margin: 0% 5%;
  height: 90%;
  
}

body {
  background-color:#637788;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows:  7% auto auto 13%;
  grid-template-areas:
    " nav nav nav "
    " header header header "    
    "  main aside article "
    " footer footer footer ";
}


header {
  background-color:#151b21;
  margin:0;
  padding:0;
  grid-area: header;
  display:flex;
  
  
}



#stórt {
  letter-spacing: 2px; 
  display:inline-block;
  margin: 10px 30px;
  padding:0;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  color: #c8d2d9;
  justify-content: flex-end;
}

nav {
  background-image: linear-gradient(#192D41,#517CA3 ,#192D41);
  grid-area: nav;
  
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

aside {
  background-color:#24323B;
  grid-area: aside;
  
}
article {
  background-color:#24323B;
  grid-area: article;
  
}
.svartg{
  color:#d2d19a;
}
.svart{
  color:white;
}

main {
  background-color:#C8D2D9;
  grid-area: main;
  
}

footer {
  background-image: linear-gradient(#192D41,#517CA3 ,#192D41);
  grid-area: footer;
  
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

p, h4 {
  margin: 10px;
}

nav ul, footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  list-style-type: none;
}

/* ul li{
 
} */

header  a{
  display: inline-block;
  
  color:#705D3A;
  padding:0;
  margin:0px 30px;
  
  
  
  font-size: 120%;
  
}

 a {
  color: white;
  text-decoration: none;
  font-size: 110%;
}



