* { box-sizing: border-box; }

body,html {
    
    height: 200vh;
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
    background-image:linear-gradient(#014993,#002E5F);
}
h1 {
    
    font-weight: 300;
    font-size: 2.5em;
}

.container {   
    
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.gap-4 {
    grid-gap: 4em
}
.miðja{  
  padding:20px;
  background-image: linear-gradient( #F5D27F, #F5F1D3);
}
a{
  color:rgb(184, 183, 183);
  text-decoration: none;
}

header{

  
  color:white;
}
.verkefni{
  
  margin-left: 18em;
  
  color:yellow;
}


main h1{
  margin:0;

}
footer{  
  color:white;
}

blockquote{
  padding:10px;
  
  background-color:rgba(255, 255, 255, 30%);
}

.topnav{
  
  margin-left: 13em;
}

header a{
  margin:5px;
  
}
dd{
  margin-left:20px;
}
