body {
    background-color: #212121;
}
::-webkit-scrollbar {  /* Smá halla twist */
    width: 0px;
    background: transparent; 
}

.headercenter {
    text-align: center;
    color:whitesmoke;
}
h3{
    color:whitesmoke
}
p{color: whitesmoke;}

.win img{
    margin-left:1050px;
    position: absolute;
    height:40%;
}
.date{
    position:absolute;
    margin-left:4.5%;
    margin-top:-1%;
}

.fuckyou{
    width:50%;
    justify-content: center;
    margin: auto;
}
.parent p{
    text-align: center;
}
.parent {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 img,
.div2 img,
.div3 img,
.div4 img,
.div5 img,
.div6 img,
.div7 img,
.div8 img {
    height: 100%;
    width: 100%;
}

/*  þetta er fyrir 3 rows
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; } */


/* þetta er fyrir 4 rows*/
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }

.overlay {
    position: fixed; /* Fix the position of the overlay */
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    margin-top: 60px; /* Adjust based on the height of your overlay */
    padding: 20px;
}
