@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
* {
    box-sizing: border-box;
    
     
}

body {
    background-color:#03438A;
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
}
h1 {
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
}
header h1,header a,footer,footer a {
    color:white;
    text-decoration: none;
}

.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em;
}

.main{ 
    
    
        
    background-image:linear-gradient(#F3D385,#F7E7B4);
}

section p, section h3{
    margin:0;
    
}
header{
    height: 20vh; 
    min-height: 150px;
}
header p{
    color:yellow;
}
header h1,header a{
    position: relative;
    top:60px;
    bottom:5px;    
}
header nav,header p{
    text-align: right;  
    
    
}
header nav{
    word-spacing: 20px;;
}

.efri{
    min-height: 600px;
    height: 80vh;
    padding-top:20px;
}

.neðri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.innermenu{            
    display: inline;
    
    margin:0;
    padding:10px 0px;
    background-color:#0063CC;
    
}
.efri a{
    display:inline;
    border-right:1px solid white;
    padding:10px 21.5px;;
    color:white;
    text-decoration: none;

}

.topbutt{
    color:white;
    position: fixed;
    right:20px;
    bottom:30px;
    padding:0px 20px;
    background-color: blue;
    border-radius:50%;
    border:2px solid white;
    font-size: 50px;
    text-decoration: none;
}


a:hover{
    text-decoration: none;
    background:lightblue;
    
    
}
a:visited{
    color:gray;
}

a:active{
    color:black;
    background-color: yellow;
}
