*, *:before, *:after {
  box-sizing: border-box; 
}
/*heimild: https://gridbyexample.com/examples/example13/ */

/* ====== GRID Area ====== 

.topnav {
grid-area: topnav; 
}
header {
grid-area: header;
}
main {
grid-area: main; 
}
footer {
grid-area: footer;
}
/* dálkar í main 
.midja {
grid-area: midja; 
}
.vinstri {
grid-area: vinstri;
}
.haegri {
grid-area: haegri; 
}

/* ====== GRID Template Areas ===== */

body {
display: grid;
grid-gap: 0; /* bil á milli dálka - ath! bætist við heildarbreidd */
grid-template-areas:
  /* skipulag dálka kemur hér */
}

main {
display: grid; /* grid erfist aðeins til barna (child element only) */
grid-gap: 0;
grid-template-areas:
 /* skipulag dálka kemur hér */
}

/* ====== Base litir + padding ====== */

body {
line-height: 1.5em;
}
.topnav {
background: #1c2d1c; 
}
header {
background: tomato; 
}
footer {
background: lightgreen; 
}
.midja {
background: skyblue; 
}
.vinstri {
background: gold; 
}
.haegri {
background: pink; 
}

header,
footer,
.midja,
.vinstri, 
.haegri {
padding: 1em; 
}

/* ====== leturstílar ====== */

header h1 {
color: #fff;
line-height: 1.2;
font-weight: normal;
}
.midja h2 {
margin: .7em 0 .8em 0;
}
.midja h4 {
text-align: justify;
margin: .4em 0;
}
.midja p {
text-align: justify;
}

/* ========================================
Efnisyfirlit (mobile)
======================================== */
.topnav ul{
background: #1c2d1c; 
}
.topnav input {
display: none;
}

.topmenu {
display: block;
/* position: fixed; */
padding: 0;
margin: 0;
list-style: none; 

}
.topmenu li {
border: 0;
border-bottom: 1px solid lime; 
padding: 0;
margin:0;
}

.topmenu a {
display: block;     /* ath! */
color: white;
text-decoration: none;
text-align: center;
padding: .4em 1em; 
}
.topmenu a:hover,
.topmenu a:active,
.virkur {
color: black !important;
background-color: lime;
}

/* =======================================
*  myndvinnsla  *
======================================== */

/*  myndir <img> alltaf í 100% stærð munið að vinna og 
  þjappa myndir í photoshop ! */

img, video {
max-width: 100%;
height: auto;
}
img {
display: block; /* losna við inline "whitespace" */
}

figure {
margin:0;   /* ath! í normalize er sjálsfgefið margin 40px. */
border: 1px solid orange;
}
.myndabox {
width: 162px; /* ath! klasinn er með fasta breidd*/
}
/*  ========================================
Viðmið - breakpoints 30em = 480px + 
========================================*/

@media screen and (min-width: 30em) {
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 30em skjástærð */

}

header img{
  margin: 0 auto;
  width: 480px;
}
.myndabox{
  margin: 0 auto;
  width: 100%;
}
.myndabox img{
  width: 100%;
}

/*  ========================================
Viðmið - breakpoints 37.5em = 600px + 
========================================*/

@media screen and (min-width: 37.5em) {
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 37.5em skjástærð */
  .topmenu li{
    width: 50%;
    float: left;
  }
  header img{
    
    width: 960px;
  }
  .myndabox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    width: 100%;   
  }
  .myndabox img{
    width: 100%;
  }
  
  
  body{
    display:grid;    
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "topnav"
      "header"
      " main "
      " footer";   
    }
  
  
   .topnav {
    grid-area: topnav; 
    }
    header {
    grid-area: header;
    }
    .content {
    grid-area: main; 
    }
    footer {
    grid-area: footer;
    }
     /* dálkar í main  */
     .content{         
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
          "haegri midja"
          "vinstri midja";           
     }
    .midja {
    grid-area: midja; 
    }
    .vinstri {
    grid-area: vinstri;
    }
    .haegri {
    grid-area: haegri; 
    }
}
/* ========================================
Viðmið - breakpoints 48em = 760px +
======================================== */

@media screen and (min-width: 48em) {  
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 48em skjástærð */  
  .topmenu {
    display: flex;    
  }
  .midja{
    
    
  }

  .myndabox {
    display: flex;
    justify-content: center;
    width: 100%;   
  }
  
  

  
  
  body{
    display:grid;    
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "topnav"
      "header"
      " main "
      " footer";   
    }
  
  
   .topnav {
    grid-area: topnav; 
    }
    header {
    grid-area: header;
    }
    .content {
    grid-area: main; 
    }
    footer {
    grid-area: footer;
    }
     /* dálkar í main  */
     .content{         
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 100%;
        grid-template-areas:
          "haegri midja vinstri";           
     }
    .midja {
    grid-area: midja; 
    }
    .vinstri {
    grid-area: vinstri;
    }
    .haegri {
    grid-area: haegri; 
    }
}

/* ========================================
Viðmið - breakpoints 60em = 960px +
======================================== */

@media screen and (min-width: 60em) { 
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 60em skjástærð */  
  
}
/* ========================================
Viðmið - breakpoints 80em = 1280px +
======================================== */

@media screen and (min-width: 80em) { 
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 80em skjástærð */  

}
