@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
*{
  box-sizing: border-box;
}
body,html {
  
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns:  50% 50% ;
  grid-template-rows: 25% 10% auto 10%;
  grid-template-areas:
    " header header "
    " nav nav "
    " main article "
    " footer footer ";
}

header{
  
  display:flex;
  
  
  grid-area: header; 
  
  background-color:black;

}

nav{
  grid-area:nav; 
  
  background-color:orange;

}
main{
  grid-area: main; 
  
  background-color:black;
}
article{
  grid-area: article; 
  
  background-color:black;

}
footer{
  grid-area: footer; 
  
  background-color:lightsalmon;

}
.mind{
  display: flex;
  
  
}
img{
  
  margin: 0px 0px 0px 20px;
  height: 100%;
  width: 100%;
  
}
.stafir{
  display: flex;
  align-content: center;
}
header h1{
  
  display: inline-block;
 
  font-size: 50px;
  color:rgb(241, 206, 6);
  margin: 0px 0px 0px 0px;
}
header h5{
  color:orange;
  font-size: 17px;
}

header ul {
  display: inline;
  text-align: center;
  
  align-content: center;
}

ul li{
  display: inline;
  
}
