.birjun{
margin: 1em 3em;
padding: 1em;

}
.endir{
  margin: 1em 3em;
  
  
  }

.block{
  padding: 1em;
  margin: 1em;
border: 3px dashed green ;
}

.block2{
  padding: 1em;
  margin: 1em;
border: 3px dashed blue ;
}


.block3{
  padding: 1em;
  margin: 1em;
border: 3px dashed red;
}



.in{

display: inline;

}

.inbl{
display:inline-block;

}









