p{ 
  color:black;
  font-family: Georgia;
}

h1{
    color:rgb(255, 166, 0);
    font-family: Courier ;
    text-decoration: underline;
   
}

body{
  width: 800px;
  background-color:gray;
   border-style:solid;
   border-color: red blue yellow green ;
}
ol{
  color:red;
}

ul{
  color:rgb(11, 236, 11);

}

strong {
color:blue;
}

em {
 color:white;
}
