@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
*{
  box-sizing: border-box;
}
body,html {
  margin: 0px;
  height: 100vh;
}




header {
  margin:0;
  padding:0;
  
  border: solid black;
  border-width: 1px 1px 1px 1px;
  
  
}
header ul{
  margin:0;
  padding:0;
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  height:100%;

}


#stórt {
  margin:0;
  padding:0;
  font-family: "Courgette", cursive;
  font-size: 40px;
  color: rgb(146, 127, 22);
  justify-content: flex-end;
}

nav {
  
  border: solid black;
  border-width: 0px 1px 1px 1px;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
}

aside {
  
  border: solid black;
  border-width: 0px 1px 0px 1px;
}
article {
  
  border: solid black;
  border-width: 0px 1px 0px 1px;
}



footer {
  
  border: solid black;
  border-width: 1px 1px 1px 1px;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
}

p, h4 {
  margin: 10px;
}

nav ul, footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  list-style-type: none;
}

/* ul li{
 
} */

li a {
  color: rgb(9, 109, 241);
}

.pborder{
  border:1px solid black;
  padding:10px;
  margin:30px;
}

@media (max-width: 30em) {
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 30em skjástærð */
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 10vh auto 10vh auto;
    grid-template-areas:
      " header header "
      " nav nav nav "
      " aside main "
      " article main "
      " footer footer";
  }
  
  
  header {
    margin:0;
    padding:0;
    grid-area: header;
    border: solid black;
    border-width: 1px 1px 1px 1px;    
  }
  
  nav {
    grid-area: nav;
    border: solid black;
    border-width: 0px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  aside {
    grid-area: aside;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  article {
    grid-area: article;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

}


/*  ========================================
Viðmið - breakpoints 37.5em = 600px + 
========================================*/

@media screen and (min-width: 37.5em) {
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 37.5em skjástærð */
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      " header header "
      " nav nav "
      " aside main "
      " article main "
      " footer footer";
  }
  #stórt {
    margin:0;
    padding:0;
    font-family: "Courgette", cursive;
    font-size: 40px;
    color: rgb(146, 127, 22);
    justify-content: flex-end;
  }
  
  header {
    margin:0;
    padding:0;
    grid-area: header;
    border: solid black;
    border-width: 1px 1px 1px 1px;    
  }
  
  nav {
    grid-area: nav;
    border: solid black;
    border-width: 0px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  aside {
    grid-area: aside;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  article {
    grid-area: article;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

}

/* ========================================
Viðmið - breakpoints 48em = 760px +
======================================== */

@media screen and (min-width: 48em) {  
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 48em skjástærð */  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 25% 10% auto 10%;
    grid-template-areas:
      " header header header "
      " nav nav nav "
      " aside main article "
      " footer footer footer ";
  }
  
  
  header {
    margin:0;
    padding:0;
    grid-area: header;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    
    
  }
  header ul{
    margin:0;
    padding:0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    height:100%;
  
  }
  
  
  #stórt {
    margin:0;
    padding:0;
    font-family: "Courgette", cursive;
    font-size: 50px;
    color: rgb(146, 127, 22);
    justify-content: flex-end;
  }
  
  nav {
    grid-area: nav;
    border: solid black;
    border-width: 0px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  aside {
    grid-area: aside;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  article {
    grid-area: article;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
 
/* ========================================
Viðmið - breakpoints 60em = 960px +
======================================== */

@media screen and (min-width: 60em) { 
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 60em skjástærð */  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 25% 10% auto 10%;
    grid-template-areas:
      " header header header "
      " nav nav nav "
      " aside main article "
      " footer footer footer ";
  }
  
  
  header {
    margin:0;
    padding:0;
    grid-area: header;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    
    
  }
  header ul{
    margin:0;
    padding:0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    height:100%;
  
  }
  
  
  #stórt {
    margin:0;
    padding:0;
    font-family: "Courgette", cursive;
    font-size: 70px;
    color: rgb(146, 127, 22);
    justify-content: flex-end;
  }
  
  nav {
    grid-area: nav;
    border: solid black;
    border-width: 0px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  aside {
    grid-area: aside;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  article {
    grid-area: article;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
/* ========================================
Viðmið - breakpoints 80em = 1280px +
======================================== */

@media screen and (min-width: 80em) { 
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 80em skjástærð */  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 25% 10% auto 10%;
    grid-template-areas:
      " header header header "
      " nav nav nav "
      " aside main article "
      " footer footer footer ";
  }
  
  
  header {
    margin:0;
    padding:0;
    grid-area: header;
    border: solid black;
    border-width: 1px 1px 1px 1px;   
    
  }
  header ul{
    margin:0;
    padding:0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    height:100%;
  
  }
  
  
  #stórt {
    margin:0;
    padding:0;
    font-family: "Courgette", cursive;
    font-size: 70px;
    color: rgb(146, 127, 22);
    justify-content: flex-end;
  }
  
  nav {
    grid-area: nav;
    border: solid black;
    border-width: 0px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  aside {
    grid-area: aside;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  article {
    grid-area: article;
    border: solid black;
    border-width: 0px 1px 0px 1px;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
    border: solid black;
    border-width: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }


