.box{
  margin: 30px  40px 40px 40px ;
  border:2px solid green;
}

.box2{
  margin: 40px;
  border:2px solid green;
  color:red;
}

.box3{
color:blue;

margin: 50px;
padding: 30px 30px;
border:4px dashed blue;

}

.ubox{
margin: 40px ;
padding: 40px  ;

border: 4px solid red;



}



