@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
* {
    box-sizing: border-box;
    
     
}

body {
    background-color:#8B0D32;
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
}
h1 {
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
}
header h1,header a,footer,footer a {
    color:white;
    text-decoration: none;
}

.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.col-5 {
    display: grid;
    grid-template-columns: repeat(6,1fr);    
}
.gap-4 {
    grid-gap: 4em;
}



section p, section h3{
    margin:0;
    
}

/* header */
header{
    height: 20vh; 
    min-height: 150px;
}
header p{
    color:yellow;
}
header h1,header a{
    position: relative;
    top:60px;
    bottom:5px;    
}

header nav{
    word-spacing: 20px;;
}
/* um mig */

.efri{
    background-image:linear-gradient(#8B0D32 ,#FFC300 70%,black 99%);
    min-height: 600px;
    height: 80vh;
    padding-top:20px;

    padding-top: 100px;
    height: 100vh; 
}
.efri-div1 {
    border: black solid;
    border-width: 0px 2px 0px 0px;
}
.efri h1 {
    margin-top: 0;
    font-size: 60px;
}
.efri p {
    font-size: 20px;
    margin: 0px 40px;
}
.egmind {
    height: 100%;
}
ul {
    list-style-type: none;
}

/* div-2 */

.neðri-1 {
    background-image: linear-gradient(black 5%,red ,black );
    
}



.neðri-1 h1 {
    font-family: 'Yeon Sung', cursive;
    font-size: 70px;
    margin: 0px;   
     
}
.neðri-1 p{
    font-family: 'Yeon Sung', cursive;
    font-size: 20px;
}
.neðri-1-2-texti {
    margin: 0 50px;
}
.þorsti-img {
    text-align: center;   
}
.mindir {
    width: 100%;
}


/* footer*/

footer {
    height: 400px;
}
    
.footer-litur {
    background-color: black;
}
footer h1 {
    font-family: 'Yeon Sung', cursive;
    color:red;
    margin: 0;
    font-size: 70px;
}

footer a {
    line-height: 40px;
    font-size: larger;
}
.footer-nav {
    width: 100%;
}





.efri a{
    display:inline;
    border-right:1px solid white;
    padding:10px 21.5px;;
    color:white;
    text-decoration: none;

}





    
    

a:visited{
    color:gray;
}

a:active{
    color:black;
    background-color: yellow;
}

.headerdiv {
  display: flex;
  justify-content: center;
  
  height: 100%;
}






